@charset "UTF-8";

html {
  font-size: 20px;
}

body {
  font-family: Arial, Meiryo, sans-serif;
}

h1 {
  font-size: 2rem;
  font-family: "Josefin Sans", sans-serif;
}

h1::first-letter {
    color: skyblue;
}

h1 span {
    color: rgb(255, 192, 203);
}

