@charset "UTF-8";

html {
  font-size: 20px;
}

body {
  font-family: Arial, Meiryo, sans-serif;
  text-align: center;
}

h1 {
  font-size: 2rem;
  font-family: "Josefin Sans", sans-serif;
  letter-spacing: 1.2rem;
  text-shadow: 2px 2px 4px #808080;
  border-bottom: 3px solid rgb(115, 115, 114);
}

h1::first-letter {
  color: skyblue;
}

h1 span {
  color: rgb(255, 192, 203);
}

.basic h2:nth-of-type(1),
.basic h2:nth-of-type(3) {
  color: rgb(255, 192, 203);
}

h2:nth-of-type(2) {
  color: rgb(255, 192, 203);
}

.basic h2:nth-of-type(2) {
  color: skyblue;
}

h2:nth-of-type(1),
h2:nth-of-type(3) {
  color: skyblue;
}

.basic p {
  font-weight: bold;
}
